@import './variables.scss';

.calendar_item {
  border: 1px solid $theme-border;
  //margin: 2px;
  width: 140px;
  height: 140px;
  font-size: $font-size-base;
  font-family: $fonts;

  &--today {
    border-color: $highlighted;  
  }
}

.top-bar {
  border: 1px solid white;
  //margin: 2px;
  display: flex;
  justify-content: space-between;
  padding: .1rem .5rem;;
  height: 20px;

  &--event {
    border: 1px solid $highlighted;
    color: $highlighted;  
  }
}

.bottom-box {
  //border: 2px dashed black;
  //margin: 2px;
  padding: .1rem;
  margin: 5% auto; 
  font-weight: bold;
  display: flex;

  &__label {
    font-size: $font-size-text;
    width: 60px;
    height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  } 

  &__item {
    display: flex;
    margin-bottom: 5px;
  }
}