.calendar_item {
  border: 1px solid green;
  margin: 2px;
  width: 140px;
  height: 140px;
}

.top-bar {
  border: 2px dotted chocolate;
  margin: 2px;
  display: flex;
  justify-content: space-between;
  padding: .1rem;

  &__day {}

  &__event {}
}

.bottom-box {
  border: 2px dashed black;
  margin: 2px;
  padding: .1rem;
  margin: 5% auto; 

  &__finished {}

  &__not-finished {}
}

