.calendar_item {
  border: 1px solid black;
  margin: 2px;
  width: 140px;
  height: 140px;

  &--highlighted {
    border-color: greenyellow;  
  }
}

.top-bar {
  border: 2px dotted chocolate;
  margin: 2px;
  display: flex;
  justify-content: space-between;
  padding: .1rem;
  height: 20px;

  &__day {}

  &__event {}

}

.bottom-box {
  border: 2px dashed black;
  margin: 2px;
  padding: .1rem;
  margin: 5% auto; 

  &__finished {}

  &__not-finished {
    font-weight: bold;
  }
}

