.calendar_item {
  border: 1px solid lightgray;
  margin: 2px;
  width: 140px;
  height: 140px;
  font-size: 1.1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }
  .calendar_item--highlighted {
    border-color: lightgreen; }

.top-bar {
  margin: 2px;
  display: flex;
  justify-content: space-between;
  padding: .1rem;
  height: 20px; }

.bottom-box {
  margin: 2px;
  padding: .1rem;
  margin: 5% auto;
  font-weight: bold;
  display: flex; }
  .bottom-box__label {
    font-size: 0.9rem;
    width: 60px;
    height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; }
  .bottom-box__item {
    display: flex;
    margin-bottom: 5px; }
