// colours
$today: lightgreen;
$theme-border: lightgray;
$basic: #fff;
$weekday: green;
$weekend: orange;

// fonts
$fonts: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-size-base: 1.1rem;
$font-size-text: .9rem;