@import './variables.scss';

.weekday_item {
  border: 1px solid lightcyan;
  margin: 2px;
  width: 136px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-family: $fonts;
  padding-top: 2px;
  font-weight: bold;
}

.dot {
  align-self: center;
  height: 10px;
  width: 10px;
  background-color: $weekday;
  border-radius: 50%;
  display: inline-block;

  &--weekend {
    background-color: $weekend;
  }
}

